{% extends "base.html" %}

{% block content %}
    <div class="todo-container">
        <h1>Update Task</h1>
        
        <form action="{{ url_for('update', id=task.id) }}" method="POST" class="todo-form">
            <input type="text" name="content" id="content" value="{{ task.content }}" required>
            <button type="submit" class="btn btn-primary">Update</button>
            <a href="{{ url_for('index') }}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
{% endblock %}